*
!*.*

/*/
!/net/
!/bdwgc/
!/tiger
!/tiger/*
!/school/
!/arduino/
!/templates/
!/colorization/
!/libatomic_ops/
!/pimsimulator-code/

*\~
*.o
*.so
*.ko
*.d
a.out

cscope.out
cscope.in.out
cscope.po.out
tags
TAGS
*.swp
vgcore*
*.swn
*.swo
*.swp
